.idea/
.vscode/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.logs/

pids
*.pid
*.seed
*.pid.lock


lib-cov/
coverage/
.nyc_output/

.DS_Store
.output.txt
.grunt
bower_components
build/Release
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
*.tgz
.yarn-integrity
*-audit.json
*private*

dist/
disti/
.gen/

.env
*gitignored*
*gitignored
