.idea/
.vscode/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.logs/

pids
*.pid
*.seed
*.pid.lock

.DS_Store
.output.txt

lib-cov/
coverage/
.nyc_output/

.grunt
bower_components
build/Release
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
*.tgz
.yarn-integrity
*-audit.json

.env

app/
dist/

.gen/

*gitignored*
*gitignored
